.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}

.nav-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.nav-item {
  margin-right: 1rem;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.list-group-item-success {
  justify-content: space-between;
}

.task-name {
  margin-right: 2rem;
}

.form-check-label {
  flex: 1;
  margin-left: 1rem;
  text-align: left;
}

.btn {
  margin-left: 0.25rem;
}
